.devise
  = render "devise/shared/header"
  .deviseSection
    .inner
      %h2.title 会員情報入力
      .deviseForm
        = form_tag(user_registration_path, method: :post, id:'charge-form') do
          %span.charge-errors
          %h4 支払い
          .deviseForm__field.deviseForm__field--top
            = text_field_tag :number, '', {maxlength: "16", placeholder: "1234 1234 1234 1234",type: "text",id: "payment_card_no"}
          .deviseForm__field.deviseForm__field--top
            = text_field_tag :cvc, '', {maxlength: "3", placeholder: "123",type: "text",id: "payment_card_security_code"}
          .deviseForm__field.deviseForm__field--top
            = text_field_tag :exp_month, '', {maxlength: "2", placeholder: "月", type: "text",id: "payment_card_expire_mm"}
          .deviseForm__field.deviseForm__field--top
            = text_field_tag :exp_year, '',{maxlength: "4", placeholder: "年", type: "text",id: "payment_card_expire_yy"}
          .deviseForm__actions
            = submit_tag '登録', id: "card-save"
  =render "devise/shared/footer"
