.devise
  = render "devise/shared/header"
  .deviseSection
    .inner
      %h2.title 会員情報入力
      .deviseForm
        = form_for(@user, url: address_path) do |f|
          .deviseForm__field.deviseForm__field--top
            = f.label :電話番号
            %span.formRequired 必須
            %br/
            = f.text_field :phone_number, autofocus: true, autocomplete: "off", placeholder: "携帯電話の番号を入力", class: "inputField", required: true
          .deviseForm__actions
            = f.submit "次へ進む", class: "deviseBtn"
  =render "devise/shared/footer"
